<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="profile__img">
        <img
          class="profile__img"
          src="../../../assets/images/chekov/emanuil.jpg"
          alt="emanuil_real_identity"
        />
      </div>
    </div>
    <div class="col align-self-center">
      <div class="profile__content">
        <div class="profile__info info1">Name: {{ user.firstName }} {{ user.lastName }}</div>
        <div class="profile__info info2">About Me: {{ user.aboutMe }}</div>
        <div class="profile__info info3">E-Mail: {{ user.email }}</div>
        <div class="profile__info info4">Group: {{ user.groupName }}</div>
        <div class="profile__info info5">Tel: {{ user.phoneNumber }}</div>
      </div>
	</div>
  </div>
  
  <audio autoplay>  
	<source src="./../../../assets/audio/Melancholy_Lake.mp3" type="audio/mpeg">  
</audio>  
  <div class="mainContent_footer">
	
	<button type="button" class="btn btn-outline-dark"  [routerLink]="['/dashboard']">Go Back</button>
  </div>
</div>
